.category {
    text-decoration: underline;
}

.question {
    margin-bottom: 5%;
    margin-top: 5%;
}

.slideFromRight {
    animation-name: slideRight;
    animation-duration: 0.5s;
    -webkit-animation-name: slideRight; 
    -webkit-animation-duration: 0.5s; 
}

.slideFromLeft {
    animation-name: slideLeft;
    animation-duration: 0.5s;
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 0.5s;
}

@keyframes slideRight {
    0% {
        margin-right: 0vh;
    }

    50% {
        margin-left: 50vh;
    }

    100% {
        margin-left: 100vh;
    }
}

@-webkit-keyframes slideRight {
    0% {
        margin-right: 0vh;
    }

    50% {
        margin-left: 50vh;
    }

    100% {
        margin-left: 100vh;
    }
}

@keyframes slideLeft {
    0% {
        margin-left: -100vh;
        visibility: hidden;
    }

    1% {
        visibility: visible;
    }

    100% {
        margin-left: 0vh;
    }
}

@-webkit-keyframes slideLeft {
    0% {
        margin-left: -100vh;
        visibility: hidden;
    }

    1% {
        visibility: visible;
    }

    100% {
        margin-left: 0vh;
    }
}
