.matteBtnGroup {
    background-color: #414141 !important;
    color: white !important;
    width: 100% !important;
}

.btnGroupSpacing {
    margin-bottom: 10%;
}

.questionSpacing{
    margin-top: 5%;
}

.slide {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -5%;
    background-color: #05555F;
    transition: 1s;
    border-radius: 10px;
    padding: 5% 2% 5% 2%;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    10% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        margin-left: -5%;
        margin-right: 5%;
    }

    20% {
        margin-left: 5%;
        margin-right: -5%;
    }

    30% {
        margin-left: -5%;
        margin-right: 5%;
    }

    40% {
        margin-left: 5%;
        margin-right: -5%;
    }

    50% {
        margin-left: -5%;
        margin-right: 5%;
    }

    60% {
        margin-left: 5%;
        margin-right: -5%;
    }

    70% {
        margin-left: -5%;
        margin-right: 5%;
    }

    80% {
        margin-left: 5%;
        margin-right: -5%;
    }

    90% {
        margin-left: -5%;
        margin-right: 5%;
    }
    /*100% {
        margin-left: -0%;
        margin-right: 0%;
    }*/
}

.text-center {
    color: white !important;
}
